.Weather .weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.Weather .weather-app {
  background: url("https://images.unsplash.com/photo-1508717334315-37b159f24d04?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;

  background-position-y: center;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.Weather .weather-temperature img {
  float: left;
  line-height: 1;
  height: 75px;
  width: 80px;
}

.Weather .weather-temperature strong {
  color: #1b262c;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.Weather .weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #1b262c;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  font-weight: 700;
}
.Weather .weather-forecast-temperature-min {
  opacity: 0.5;
}

.Weather .weather-forecast-temperature {
  font-size: 15px;
}
